{% extends "/client/layout.html" %}

{% block title %}
Events
{% endblock %}

{% block main %}
<div class="container">
    <h2 class="section-title text-center py-3 py-md-5">Events</h2>

    <form action="{{ url_for('events') }}" method="get" class="mb-5">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            {% if search %}
            <input type="text" class="form-control shadow-none" name="search" placeholder="Events title"
                aria-label="Events title" aria-describedby="basic-addon1" value="{{ search }}">
            {% else %}
            <input type="text" class="form-control shadow-none" name="search" placeholder="Events title"
                aria-label="Events title" aria-describedby="basic-addon1">
            {% endif %}
            <button type="submit" class="btn btn-secondary text-white">Search</button>
        </div>
    </form>

    <ul class="events-list list-unstyled">
        {% if events | length == 0 %}
        <p class="text-center mb-5">No Results.</p>

        {% else %}

        {% for event in events %}
        <li class="my-3">
            <a href="{{ url_for('events', id=event.id) }}" class="link-underline link-underline-opacity-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ event.cover }}" class="img-fluid card-img-rounded" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title fw-bold">{{ event.id }} {{ event.title }}</h3>
                                <div class="card-text text-truncate">{{ event.content | safe }}</div>
                                <p class="card-text"><small class="text-body-secondary">{{ event.date }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    {% if page %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if not search %}
            {% if page == 1 %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="First page">
                    <span aria-hidden="true"><i class="fa-solid fa-backward-step"></i></span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('events', page=1) }}" aria-label="First page">
                    <span aria-hidden="true"><i class="fa-solid fa-backward-step"></i></span>
                </a>
            </li>
            {% endif %}



            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('events', page=page-1) }}" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                </a>
            </li>
            {% endif %}




            {% for p in range(1, total_pages+1) %}
            {% if p == page %}
            <li class="page-item active"><a class="page-link">{{ p }} / {{ total_pages }}</a></li>
            {% endif %}
            {% endfor %}





            {% if page < total_pages %} <li class="page-item">
                <a class="page-link" href="{{ url_for('events', page=page+1) }}" aria-label="Next page">
                    <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Next page">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                    </a>
                </li>
                {% endif %}



                {% if page == total_pages %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Final page">
                        <span aria-hidden="true"><i class="fa-solid fa-forward-step"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('events', page=total_pages) }}" aria-label="Final page">
                        <span aria-hidden="true"><i class="fa-solid fa-forward-step"></i></span>
                    </a>
                </li>
                {% endif %}

                {% else %}

                {% if page == 1 or total_pages == 0 %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="First page">
                        <span aria-hidden="true"><i class="fa-solid fa-backward-step"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('events', search=search, page=1) }}" aria-label="First page">
                        <span aria-hidden="true"><i class="fa-solid fa-backward-step"></i></span>
                    </a>
                </li>
                {% endif %}



                {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('events', search=search, page=page-1) }}"
                        aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                    </a>
                </li>
                {% endif %}




                {% for p in range(1, total_pages+1) %}
                {% if p == page %}
                <li class="page-item active"><a class="page-link">{{ p }} / {{ total_pages }}</a></li>
                {% endif %}
                {% endfor %}





                {% if page < total_pages %} <li class="page-item">
                    <a class="page-link" href="{{ url_for('events', search=search, page=page+1) }}"
                        aria-label="Next page">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                    </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link disabled" aria-label="Next page">
                            <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                        </a>
                    </li>
                    {% endif %}



                    {% if page == total_pages %}
                    <li class="page-item">
                        <a class="page-link disabled" aria-label="Final page">
                            <span aria-hidden="true"><i class="fa-solid fa-forward-step"></i></span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('events', search=search, page=total_pages) }}"
                            aria-label="Final page">
                            <span aria-hidden="true"><i class="fa-solid fa-forward-step"></i></span>
                        </a>
                    </li>
                    {% endif %}

                    {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}